<ion-view title="Agregar Jugador" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="agregarJugador-form2" class="list">
      <label class="item item-input" id="agregarJugador-input4">
        <span class="input-label">Nombre</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="range range-positive" id="agregarJugador-range1">Puntaje
        <input type="range" value="50" min="0" max="100" step="1" name="puntaje">
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="agregarJugador-toggle3" name="activo">Activo</ion-toggle>
    </form>
    <a ui-sref="menu.jugadores" id="agregarJugador-button13" class="button button-positive  button-block">Agregar</a>
    <a ui-sref="menu.jugadores" id="agregarJugador-button21" class="button button-assertive  button-block">Cancelar</a>
  </ion-content>
</ion-view>