<ion-view title="Armar equipos" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="armarEquipos-list8">
      <ion-item class="item-divider" id="armarEquipos-list-item-divider2"> Equipo 1</ion-item>
      <ion-item class="item-icon-left" id="armarEquipos-list-item40">
        <i class="icon ion-android-person"></i>Pepito</ion-item>
      <ion-item class="item-icon-left" id="armarEquipos-list-item42">
        <i class="icon ion-android-person"></i>Pablito</ion-item>
      <ion-item class="item-divider" id="armarEquipos-list-item-divider1"> Equipo 2</ion-item>
      <ion-item class="item-icon-left" id="armarEquipos-list-item43">
        <i class="icon ion-android-person"></i>Pepito1</ion-item>
      <ion-item class="item-icon-left" id="armarEquipos-list-item45">
        <i class="icon ion-android-person"></i>Pablito1</ion-item>
    </ion-list>
    <div id="armarEquipos-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Agitar el teléfono para mezclar nuevamente</p>
    </div>
    <a ui-sref="menu.equiposGuardados" id="armarEquipos-button25" class="button button-positive  button-block">Guardar Equipos</a>
  </ion-content>
</ion-view>