<ion-view title="Editar jugador" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="editarJugador-form3" class="list">
      <label class="item item-input" id="editarJugador-input6">
        <span class="input-label">Nombre</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="range range-positive" id="editarJugador-range2">Puntaje
        <input type="range" value="50" min="0" max="100" step="1" name="puntaje">
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="editarJugador-toggle4" name="activo">Activo</ion-toggle>
    </form>
    <a ui-sref="menu.jugadores" id="editarJugador-button22" class="button button-positive  button-block">Guardar</a>
    <button id="editarJugador-button23" class="button button-assertive  button-block">Eliminar</button>
  </ion-content>
</ion-view>