<ion-view title="Equipos Guardados" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="equiposGuardados-list-item-container8">
      <ion-list id="equiposGuardados-list5">
        <ion-item class="item-icon-right" id="equiposGuardados-list-item21" ui-sref="menu.armarEquipos">Equipo 1
          <i class="icon ion-ios-football"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="equiposGuardados-list-item22" ui-sref="menu.armarEquipos">Equipo 2
          <i class="icon ion-ios-football"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>