<ion-view title="Jugadores" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="jugadores-list7">
      <ion-item class="item-icon-left" id="jugadores-list-item25" ui-sref="menu.editarJugador">
        <i class="icon ion-android-person"></i>Pepito</ion-item>
      <ion-item class="item-icon-left" id="jugadores-list-item26" ui-sref="menu.editarJugador">
        <i class="icon ion-android-person"></i>Pablito</ion-item>
    </ion-list>
    <a ui-sref="menu.agregarJugador" id="jugadores-button12" class="button button-positive  button-block icon ion-android-person-add">Agregar Jugador</a>
    <a ui-sref="menu.armarEquipos" id="jugadores-button20" class="button button-positive  button-block">Armar equipos</a>
  </ion-content>
</ion-view>