<ion-view title="Mis Grupos" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="misGrupos-list-item-container2">
      <ion-list id="misGrupos-list6">
        <ion-item class="item-icon-right" id="misGrupos-list-item23" ui-sref="menu.jugadores">Grupo 1
          <i class="icon ion-ios-football"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="misGrupos-list-item24" ui-sref="menu.jugadores">Grupo 2
          <i class="icon ion-ios-football"></i>
        </ion-item>
      </ion-list>
      <a ui-sref="menu.agregarGrupo" id="misGrupos-button1" class="button button-positive  button-block icon ion-android-contacts">Agregar grupo</a>
    </div>
  </ion-content>
</ion-view>